    /*전체 body에 적용*/
	body { 
		background-image: url(img/best.jpeg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;}
  
	  /*banner*/
	  /* 타이틀 */
	  .rollingbanner > .title{
		  font-weight: bold;
		  float: left;
		  padding-right: 10px;
	  }
	  /* 롤링 배너 */
	  .rollingbanner > .wrap{
		  position: relative;
		  width: auto;
		  height: 100%;
		  box-sizing: border-box;
		  overflow: hidden;
	  }        
	  .rolling ul{
		  list-style: none;
		  color:black;
	  }
	  .rollingbanner li{
		  position: absolute;
		  top: -36px;
		  left: 0;
	  }
	  /* 이전, 현재, 다음 롤링 배너 표시 */
	  .rollingbanner li.prev{
		  top: 36px;
		  transition: top 0.5s ease;
	  }
	  .rollingbanner li.current{
		  top: 0;
		  transition: top 0.5s ease;
	  }
	  .rollingbanner li.next{
		  top: -36px;
	  }
	  .rollingbanner a{
		  display: block;
		  display: -webkit-box;
		  text-decoration: none;
		  -webkit-line-clamp: 1;
		  -webkit-box-orient:vertical;
		  overflow: hidden;
		  color: #000;
	  }
  
		/*tableweather*/
  
  
  
  
  
  
		/*timeandweather*/
	  div.timeandweathertotal{
		  background: linear-gradient(#fee, #edd); 
		  border: 1px solid #fdd; 
		  border-radius: 30px;
		  padding: 10px;
		  margin:auto;
		  opacity:0.9;
		  text-align:center;
		  width:50%;
		}
  
	  li{
		  list-style-type:none;
		}
  
		span.timeandweather01{
		  display: inline-block;
  
		}
  
	  .rollingbanner{
		  box-shadow: 5px 5px 5px;
		  background-color: white;
		  color:black;
		  box-sizing: border-box;
		  padding: 10px;
		  margin: 20px;
		  border-radius: 40px;
		  font-size: 12px;
		  position: relative;
		  font-weight: bold;
		  height: 35px;
		  opacity:0.5;
	  }
  
  
	  .timeweather{
		  border:1px solid white;
		  padding: 10px;
		  margin: auto;
		  background-color:white;
		  border-radius: 40px;
	  }
	  .timeandweather{
		  padding:0 10px;
	  }
  